@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,300);
body {
    margin: 60px auto;
    width: 80%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    color:black;
}
h1 {
  text-align: center;
  font-size: 2.5em;
  font-family: 'Roboto', sans-serif;
  font-weight:400;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight:300;
  font-weight: 500;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  font-weight: 500;
}
p {
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}
li {
  font-family: 'Roboto', sans-serif;
    font-weight:400;
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
.post-list {
  list-style: none;
  font-size: 1em;
}
.post-list .post-link {
  color:black;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
}
.post-list .post-meta {
  font-family: 'Roboto', sans-serif;
  font-size: .75em;
  font-weight:300;
  font-style: italic;
  color: #999;
}
.post a {
  color:#22A7F0;
}
.page-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.meta {
  text-align: center;
  font-size:.8em;
  color: #999;
}
.code {
  margin-left: 20px;
  font-size: .95em;
  background-color: #eee;
  font-family: 'Courier New', monospace;
  padding: 0.17em;
  word-wrap: break-word;
  border-radius: 3px;
}