<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<script src="https://use.fontawesome.com/99298236b0.js"></script>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:vivekraj.vn@gmail.com"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a></li>
	        		<li><a href="http://www.github.com/mr-rhobot"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
							<li><a href="http://standardresume.co/vivek-raj"><i class="fa fa-file-word-o fa-2x" aria-hidden="true"></i></a></li>
					</ul>

			</footer>
		</body>
	</html>
